$react-api-main: #43A047;
$react-api-main--light: #81C784;
$react-api-main--lightest: #E8F5E9;
$react-api-secondary: #FFEB3B;
$react-api-secondary--light: #FFF59D;
$react-api-secondary--lightest: #FFFDE7;
$white: #FFFFFF;
$black: #000000;
$main-text: #212121;